body{
    background-image: url(bdaybackground.webp);
    background-repeat: no-repeat;
    background-size:100vw 200vh;
    text-align: center; /*centers all components throughout the page*/
}
h1{
    margin-top:210px;
    font-family: "turnip", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(235, 25, 60);
    text-shadow: 0px 0px 15px red; /*adds a red shadow on the words*/
}
p{
    margin:auto; /*centers the words*/
    width:40%;
    font-size:18px;
    font-family: "turnip", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding:30px;
}
.turnip{
    font-family: "turnip", serif;
font-weight: 400;
font-style: normal;
}