body{
    background-image: url(bdaybackground.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
h1{
    margin-top:230px;
    font-family: "turnip", serif;
    font-weight: 400;
    font-style: normal;
    font-size:28px;
    color: rgb(235, 25, 60);
}
p{
    width:800px;
    margin-left:590px;
    font-size:20px;
    font-family: "turnip", serif;
    font-weight: 400;
    font-style: normal;
}
.turnip{
    font-family: "turnip", serif;
font-weight: 400;
font-style: normal;
}